<div class="main_container">
   
        <div style="display: flex; justify-content: center; align-items: center; flex-direction:column;">
            <span style="font-size: large; font-weight: bold">Welcome, {{ user.username }}!</span>

            <span style="color: red; text-align:center" *ngIf="user.usertype == 'normaluser'">As regular user, you can create and move tasks, but you cannot alter or delete them, after you created them!</span>
            <span style="color: red; text-align:center" *ngIf="user.usertype == 'superuser'">You are a superuser!</span>
            <button style="margin-top: 30px;" mat-raised-button color="primary" (click)="createTask()">Create new Task</button>
        </div>



    <div class="example-container">
        <h2>To do</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList,archiveList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of todo" class="example-box" cdkDrag [cdkDragData]="item">
                <div>

                    {{ getTaskById(item)?.title }}<br>
                    <div class="color-line" [ngStyle]="{'background-color': getColor(item)}"></div>
                    <div class="small_text">{{ getTaskById(item)?.description }}</div>
                </div>
                <div>
                    <button mat-button  (click)="openDialog(item)">Detail</button>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>In Progress</h2>

        <div cdkDropList #archiveList="cdkDropList" [cdkDropListData]="inprogress"
            [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of inprogress" class="example-box" cdkDrag [cdkDragData]="item">
                <div>

                    {{ getTaskById(item)?.title }}<br>
                    <div class="color-line" [ngStyle]="{'background-color': getColor(item)}"></div>
                    <div class="small_text">{{ getTaskById(item)?.description }}</div>
                </div>
                <div>
                    <button mat-button (click)="openDialog(item)">Detail</button>

                </div>
            </div>

        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, archiveList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of done" class="example-box" cdkDrag [cdkDragData]="item">
                <div>

                    {{ getTaskById(item)?.title }}<br>
                    <div class="color-line" [ngStyle]="{'background-color': getColor(item)}"></div>
                    <div class="small_text">{{ getTaskById(item)?.description }}</div>
                </div>
                <div>
                    <button mat-button (click)="openDialog(item)">Detail</button>

                </div>
            </div>
        </div>
    </div>

</div>